.no1{
   background: #823351;
    
}
.no2{
    width: 50%;
    text-align: center;
    background-image: url(IMG1.jpg);
    float: left;"
}
.no3{
   width: 50%;
    text-align: center;
    background-color: #f0d8f2;
    float: right;"
}
.no4{
width: 100%;
    text-align: center;
    background-color: #a033aa;
    float: right;"
}

.no5{
    background-color: silver;"
}



